{% extends 'base.html.twig' %}

{% block title %}Paramétre(s){% endblock %}

{% block body %}
<div class="container-fluid">
        <div class="row">
        <div class="col-md-12">
        <center><h1>Paramétre</h1>
        <hr style="width: 20%;">
        <p>Gestion Location | 1.0 <p></center>
        </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"><center>Liste des utilisateur(s)</center></h3>                  
                        <center>
                            <select class="form-select" size="5" aria-label="size 3 select example">
                                    {% for unUtilisateur in utilisateurs %}
                                    <option>{{unUtilisateur.email}}</option>
                                    {% endfor %}
                            </select>
                        </center> 
                        <br>
                        <center>
                            <button type="button" class="btn btn-outline-primary"><a href="/inscription">Ajouter</a></button>
                        </center>                  
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Prochainement !</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}