{% extends 'base.html.twig' %}


{% block body %}
<div style="margin-top: 80px;">
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
    </div>
{% endblock %}