{% extends 'base.html.twig' %}

{% block title %}Calendrier location{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-default">
                    <h5 class="card-header">
                        Calendrier du logement
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <select class="form-select" size="5" aria-label="size 3 select example">
                                {% for unLogements in logements %}
                                <option value="1">{{unLogements.Nom}}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <div class="card-footer">
                        <strong>Ville :</strong>
                        <strong>Pers. Max : :</strong>
                    </div>
                    </div>
                    <div class="card-footer">
                        Information complémentaire
                    </div>
                </div>
            </div>
            <div class="col-md-8">
            
            </div>
        </div>
    </div>
{% endblock %}


