{% extends 'base.html.twig' %}

{% block title %}Calendrier location{% endblock %}


{% block body %}
{#JS FullCalendar#}
<script src="/fullcalendar/lib/main.min.js"></script>
<link rel="stylesheet" href="/fullcalendar/lib/main.min.css">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-default">
                    <h5 class="card-header">
                        Calendrier du logement
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <select class="form-select" size="5" aria-label="size 3 select example">
                                {% for unLogements in logements %}
                                <option value="1">{{unLogements.Nom}}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <div class="card-footer">
                        <strong>Ville :</strong>
                        <strong>Pers. Max : :</strong>
                    </div>
                    </div>
                    <div class="card-footer">
                        Information complémentaire
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div id="calendrier">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendrier');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          //Paramétre du calendrier
          initialView: 'dayGridMonth',
          locale: 'fr',
          timeZone: 'Europe/Paris',
          headerToolbar: {
              start: 'prev,next today',
              center: 'title',
              end: 'timeGridWeek,dayGridMonth'
          },
          //Envoie des données events
          events: {{data|raw}},
          //Activation de modification en direct sur l'interface
          editable: true,
          eventResizableFromStart: true
        });


        calendar.on('eventChange', (e) =>{
            console.log(e)
        });
        calendar.render();
      });
</script>
{% endblock %}


