{% extends 'base.html.twig' %}

{% block title %}Calendrier location{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-default">
                    <h5 class="card-header">
                        Calendrier du logement
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Choisir votre logement</option>
                                <option value="1">Appartement n°1</option>
                                <option value="2">Appartement n°2</option>
                                <option value="3">Appartement n°3</option>
                            </select>
                        </p>
                    </div>
                    <div class="card-footer">
                        Information complémentaire
                    </div>
                </div>
            </div>
            <div class="col-md-8">
            
            </div>
        </div>
    </div>
{% endblock %}


