{% extends 'base.html.twig' %}

{% block title %}Calendrier location{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-default">
                    <h5 class="card-header">
                        Card title
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            Card content
                        </p>
                    </div>
                    <div class="card-footer">
                        Card footer
                    </div>
                </div>
            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>
{% endblock %}


