{% extends 'base.html.twig' %}

{% block title %}Historique de vos locations{% endblock %}

{% block body %}
    <div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th><strong>Logement</strong></th>
						<th><strong>Locataire</strong></th>
                        <th><strong>Date début</strong></th>
                        <th><strong>Date fin</strong></th>
                        <th><strong>Prix nuit</strong></th>
                        <th><strong>Recette</strong></th>
                        <th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
                    	<th scope="row">vide</th>
						<th scope="row">vide</th>
                        <th scope="row">vide</th>
                        <th scope="row">vide</th>
                        <th scope="row">vide</th>
                        <th scope="row">vide</th>
                        <th scope="row">
                            <button class="btn btn-sm btn-outline-secondary me-2" type="button">Détails</button>
                        </th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
