{% extends 'base.html.twig' %}

{% block title %}Logement(s) enregistrer{% endblock %}

{% block body %}
    <div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th><strong>Nom</strong></th>
						<th><strong>Ville</strong></th>
                        <th><strong>Adresse</strong></th>
                        <th><strong>Code Postal</strong></th>
                        <th><strong>Pers. max</strong></th>
                        <th><strong>Etat</strong></th>
                        <th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
                    	<th scope="row">Appartement n°1</th>
						<th scope="row">Capbreton</th>
                        <th scope="row">120 allée de Bourriaou</th>
                        <th scope="row">40390</th>
                        <th scope="row">8</th>
                        <th scope="row">Libre</th>
                        <th scope="row">
                            <button class="btn btn-sm btn-outline-secondary me-2" type="button">Modifier</button>
                            <button class="btn btn-sm btn-outline-secondary me-2" type="button">Supprimer</button>
                            <button class="btn btn-sm btn-outline-secondary me-2" type="button">Détails</button>
                        </th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
