{% extends 'base.html.twig' %}

{# Compte le nombres de locataires #}
{% set nbrLocataires = 0 %}
{% for unLocataires in locataires %}
	{% set nbrLocataires = nbrLocataires + 1 %}
{% endfor %}

{% block title %}Vos locataire(s){% endblock %}

{% block body %}
    <div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th><strong>Nom</strong></th>
						<th><strong>Prenom</strong></th>
						<th><strong>Telephone</strong></th>
						<th><strong>Email</strong></th>
						<th><strong>Dernière location</strong></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{# Afficher tous les locataires #}
				{% for unLocataires in locataires %}
					<tr>
						<th scope="row">{{unLocataires.Nom}}</th>
						<th scope="row">{{unLocataires.Prenom}}</th>
						<th scope="row">{{unLocataires.Telephone}}</th>
						<th scope="row">{{unLocataires.Email}}</th>
						<th scope="row">01/01/2022</th>
						<th scope="row">
							<button class="btn btn-sm btn-outline-secondary me-2" type="button">Modifier</button>
							<button class="btn btn-sm btn-outline-secondary me-2" type="button">Supprimer</button>
							<button class="btn btn-sm btn-outline-secondary me-2" type="button">Détails</button>
						</th>
					</tr>
				{% endfor %}
				{% if nbrLocataires == 0 %}
					<tr>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">
							<button class="btn btn-sm btn-outline-secondary me-2" type="button">Ajouter</button>
						</th>
					</tr>
				{% endif %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
