{% extends 'base.html.twig' %}

{% block title %}Calendrier Location{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<center><h1>Disponible dans le futur</h1></center>
<center><h3>Prochaine mise à jour</h3></center>

{% endblock %}