{% extends 'base.html.twig' %}

{% block title %}New RESERVATION{% endblock %}

{% block body %}
    <h1>Create new RESERVATION</h1>

    {{ include('test/_form.html.twig') }}

    <a href="{{ path('test_index') }}">back to list</a>
{% endblock %}
